textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  @include box-sizing(border-box);
  height: $form-height; /* 1 */
  max-width: 100%; /* 2 */
  padding: 0px 6px;
  border: 1px solid $form-border;
  color: $form-color;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;

  &.full-width {

  }

  // /* Focus state */
  // &:focus {
  //   border-color: $form-focus-border;
  //   outline: 0;
  //   background: $form-focus-background;
  //   color: $form-focus-color;
  // }

  // /* Disabled state */
  // &:disabled {
  //   border-color: $form-disabled-border;
  //   background-color: $form-disabled-background;
  //   color: $form-disabled-color;
  // }
}

.radio {
  margin-right: 8px;
  input[type="radio"] {
    margin-right: 4px;
  }
}

.checkbox {
  margin-right: 8px;
  input[type="checkbox"] {
    margin-right: 4px;
  }
}

